body {
  background-image: url("../Images/grandline.avif");

  background-color: #173b4b;
  background-attachment: fixed;
  background-position: left;
  background-repeat: repeat-y;
  background-size: 13%;
}
.textdebutO {
  font-size: 10rem;
  -webkit-text-stroke: 3px #000000;
  position: absolute;
  margin-top: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
#menuVertical {
  list-style-type: none;
  width: 200px;
}
.menuVertical {
  text-align: center;
  top: 0;
  padding: 0px;
  margin-top: 1rem;
  border-style: ridge;
  border-radius: 0.25rem;
  border-width: 0.4rem;
  border-color: white;
  background-color: #173b4b;
}
.menuVertical a:hover {
  background-color: white;
  transition: transform 0.4s;
  transform: scale(0.8);
  color: #194980;
}
.menuVertical a {
  display: block;
  padding-right: 2.5rem;
  padding-left: 2rem;
  text-decoration: none;
  color: white;
  background-color: #173b4b;
}
.histoireAni {
  margin-left: 15%;
  margin-right: 9%;
}
#menuHorizontal {
  margin-bottom: 0px;
  border-style: ridge;
  border-width: 0.25rem;
  background-color: #173b4b;
  border-color: azure;
}
#home {
  border-color: white;
}
.menuHorizontal a {
  color: white;
  background-color: #173b4b;
}
.menuHorizontal a:hover {
  background-color: white;
  color: #143050;
}

.modifImages {
  border-color: #173b4b;
}
.delMargFig {
  margin: 0px;
  border-bottom-style: dashed;
  border-width: 1rem;
  border-color: burlywood;
  width: 100%;
  margin-top: -29.85rem;
}
.titreGauche {
  margin-top: 0px;
  padding-top: 3rem;
  font-size: 5rem;
  font-style: normal;
  color: burlywood;
  text-align: center;
}
.textGauche {
  margin-left: 13%;
  margin-right: 31%;

  padding-bottom: 1.9rem;
  padding-left: 2rem;

  color: #b8a57e;
  font-size: 1.95rem;
  font-style: italic;
  text-align: justify;

  border-left-style: solid;
  border-bottom-style: dashed;
  border-color: burlywood;
  border-width: 1rem;
}
.textDroit {
  margin-left: 43%;

  padding-left: 1rem;
  padding-bottom: 1.75rem;
  padding-right: 1rem;

  color: #ebb5b5;
  font-size: 1.93rem;
  font-style: italic;
  text-align: justify;
  border-right-style: dashed;
  border-bottom-style: dashed;
  border-color: #ebb5b5;
  border-width: 1rem;
}

.imagePlacerDroit {
  float: right;

  padding-bottom: -50px;
  border-left-style: dashed;
  border-bottom-style: dashed;
  border-width: 1rem;
  border-color: burlywood;

  clear: both;
}

.overlay {
  position: relative;
  top: -125px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.75);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: -70px;
}

.imagePlacerDroit:hover .overlay {
  opacity: 1;
}
.imagePlacerGauche:hover .overlay {
  opacity: 1;
}
.zoroimage:hover .overlay {
  opacity: 1;
}
.robinimage:hover .overlay {
  opacity: 1;
}
.sanjiimage:hover .overlay {
  opacity: 1;
}
.imagePlacerGauche {
  float: left;
  margin-left: 13%;
  border-left-style: solid;
  border-bottom-style: dashed;
  border-right-style: dashed;
  border-color: #ebb5b5;
  border-width: 1rem;
  clear: both;
}
.zoroimage {
  float: right;
  border-left-style: dashed;
  border-bottom-style: dashed;
  border-width: 1rem;

  border-color: #63b359;
  color: #63b359;
  clear: both;
}
.zorotext {
  margin-left: 13%;
  margin-right: 31%;

  padding-bottom: 1.9rem;
  padding-left: 2rem;

  color: #63b359;
  font-size: 1.95rem;
  font-style: italic;
  text-align: justify;

  border-left-style: solid;
  border-bottom-style: dashed;
  border-color: #63b359;
  border-width: 1rem;
}
.robintext {
  margin-left: 43%;
  -webkit-text-stroke: 0.5px #7b0194;
  padding-left: 1rem;
  padding-bottom: 1.75rem;
  padding-right: 1rem;

  font-size: 1.93rem;
  font-style: italic;
  text-align: justify;
  border-right-style: dashed;
  border-bottom-style: dashed;

  border-width: 1rem;
  border-color: #7456b7;
  color: #7456b7;
}
.robinimage {
  float: left;
  margin-left: 13%;
  border-left-style: solid;
  border-bottom-style: dashed;
  border-right-style: dashed;
  border-color: #7456b7;
  border-width: 1rem;
  clear: both;
}
.sanjiimage {
  float: right;
  border-left-style: dashed;
  border-bottom-style: dashed;
  border-width: 1rem;

  border-color: #e4e387;
  color: #e4e387;
  clear: both;
}
.sanjitext {
  margin-left: 13%;
  margin-right: 31%;

  padding-bottom: 1.9rem;
  padding-left: 2rem;

  color: #e4e387;
  font-size: 1.95rem;
  font-style: italic;
  text-align: justify;

  border-left-style: solid;
  border-bottom-style: dashed;
  border-color: #e4e387;
  border-width: 1rem;
}
.luffyhigh {
  color: #194980;
  background-color: #b8a57e;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  font-weight: bold;
}
.namihigh {
  color: #194980;
  background-color: #ebb5b5;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  font-weight: bold;
}
.zorohigh {
  color: #194980;
  background-color: #63b359;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  font-weight: bold;
}
.robinhigh {
  color: #194980;
  background-color: #7456b7;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  font-weight: bold;
}
.sanjihigh {
  color: #194980;
  background-color: #e4e387;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  font-weight: bold;
}
footer {
  margin-top: 5rem;
  border-style: ridge;
  border-color: #f1f1f1;
  border-width: 0.25rem;
  background-color: #173b4b;
  text-align: center;
}
