body {
  background-image: url("../Images/akatIma.png");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.textdebutN {
  font-size: 12rem;
  -webkit-text-stroke: 3px #ff8800;
  position: absolute;
  margin-top: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.titreNaruto {
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  margin-left: 15%;
  margin-right: 9%;
  margin-bottom: 0px;

  background-color: #000000;
  border-style: solid;
  border-color: #f2910a;
  color: #f2910a;
}
.titreSasuke {
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  margin-left: 15%;
  margin-right: 9%;
  margin-bottom: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
  border-style: solid;
  border-color: #950af2;
  color: #950af2;
}
.titreSakura {
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  margin-left: 15%;
  margin-right: 9%;
  margin-bottom: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
  border-style: solid;
  border-color: #b42c92;
  color: #b42c92;
}
.titreJiraiya {
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  margin-left: 15%;
  margin-right: 9%;
  margin-bottom: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
  border-style: solid;
  border-color: #6a0000;
  color: #6a0000;
}
.titreHinata {
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  margin-left: 15%;
  margin-right: 9%;
  margin-bottom: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
  border-style: solid;
  border-color: #9ffbfb;
  color: #9ffbfb;
}
.IntroPerso {
  border-bottom-style: solid;

  width: 100%;
  margin-top: -29.5rem;

  border-color: #f2910a;
  border-width: 1rem;
}
.IntroSasuke {
  background-color: #950af2;
  margin: 0%;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #950af2;
  border-width: 1rem;
}
.IntroSakura {
  background-color: #b42c92;
  margin: 0%;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #b42c92;
  border-width: 1rem;
}
.IntroJiraiya {
  background-color: #6a0000;
  margin: 0%;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #6a0000;
  border-width: 1rem;
}
.IntroHinata {
  background-color: #9ffbfb;
  margin: 0%;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #9ffbfb;
  border-width: 1rem;
}

.histoireAni {
  text-align: justify;
  font-size: 25px;
  margin-left: 15%;
  margin-right: 9%;
  background-color: #000000;
  border-style: solid;
  border-color: #f2910a;
  overflow: hidden;
}
.histoireSasuke {
  text-align: justify;
  font-size: 25px;
  color: #fff;
  margin-left: 15%;
  margin-right: 9%;
  padding: 2rem;
  background-color: #000000;
  border-style: solid;
  border-color: #950af2;
  overflow: hidden;
}
.histoireSakura {
  text-align: justify;
  font-size: 25px;
  color: #fff;
  margin-left: 15%;
  margin-right: 9%;
  padding: 2rem;
  background-color: #000000;
  border-style: solid;
  border-color: #b42c92;
  overflow: hidden;
}
.histoireJiraiya {
  text-align: justify;
  font-size: 25px;
  color: #fff;
  margin-left: 15%;
  margin-right: 9%;
  padding: 2rem;
  background-color: #000000;
  border-style: solid;
  border-color: #6a0000;
  overflow: hidden;
}
.histoireHinata {
  text-align: justify;
  font-size: 25px;
  color: #fff;
  margin-left: 15%;
  margin-right: 9%;
  padding: 2rem;
  background-color: #000000;
  border-style: solid;
  border-color: #9ffbfb;
  overflow: hidden;
}
.modifImages {
  border-color: #f2910a;
}
#menuVertical {
  list-style-type: none;
  width: 200px;
}
.menuVertical {
  text-align: center;
  padding: 0px;
  border-style: ridge;
  border-radius: 0.5rem;
  border-color: #f2910a;
  background-color: #000000;
}
.menuVertical a:hover {
  background-color: #f2910a;
  transition: transform 0.6s;
  transform: scale(0.8);
  color: black;
}
.menuHorizontal a {
  color: #f2910a;
}
.menuHorizontal a:hover {
  background-color: #f2910a;
}
.menuVertical a {
  display: block;
  padding-right: 3rem;
  padding-left: 2rem;
  text-decoration: none;
  color: #f2910a;
}
#menuHorizontal {
  border-style: ridge;
  background-color: #000000;
  border-color: #f2910a;
}
.menuHorizontal {
  color: #f2910a;
}

#home {
  border-color: #f2910a;
}

.imageleft {
  float: left;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 0.75rem;
}
.imageright {
  float: right;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
footer {
  margin-top: 10rem;
  border-style: ridge;
  border-color: #f2910a;
  border-width: 0.25rem;
  background-color: #000000;
  text-align: center;
}
